.page-header {
	margin: 0;
}

div > .podStatus {
	padding: 0;
    height: 2.15em;
}

.podStatusField {
	display: inline-block;
}

.emergencyStop {
	line-height: 3;
	margin: .5em 0;
	width: 100%;
}

.podView {
	text-align: center;
}

.podView img {
	width: 100%
}

.switchContainer {
	margin: 1em 0;
	text-align: center;
}

.podSwitch {
	display: inline-block;
}
#chartRow{
	display:none;
}
@media (min-width: 992px) {
	.emergencyStop {
		width: initial;
	}
}
