
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Spatan Hyperloop- Mission Control Station</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--Jquery code link -->

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href=" /vendor/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.min.css">

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">

                <a class="navbar-brand" href="index.html">Ground Control Station v1.0</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                  <!-- Swap out for Sprtan hyperloop logo -->
                  <!-- <img src="/images/hh-logo.png" style="
                      max-width: 240px;
                      padding-top: 20px;
                      padding-bottom: 20px;"/> -->

                  <h2>Insert Spartan Hyperloop Logo</h2>
                  <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li><a class="active" href="/"><i class="fa fa-dashboard fa-fw"></i> Pod Telemetry Dashboard</a></li>
                        <li><a class="" href="pod-health.html"><i class="fa fa-dashboard fa-fw"></i> Pod Health Check</a></li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row page-header">
                <div class="col-lg-6">
                    <h1 class="header">Pod Data Overview</h1>
                </div>
                <div class="col-lg-3 bg-success col-lg-offset-1">
                  <h2 class="podStatus updateField"> Pod Status: <span class="podStatusField">Pre-Flight</span></h2>
                </div>
                <div class="col-lg-2">
                  <button type="button" id="emergencyButton" class="emergencyStop btn btn-danger btn-lg">Emergency Stop</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="reflectorPanel panel panel-green">
                        <div class="panel-heading">
                            <span><i class="fa fa-bell fa-fw"></i> Retroreflector Data </span>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div>
                                <div class="list-group-item">
                                    <span>Is reflector on? </span>
                                    <span class="reflectorStatus pull-right"><span class="reflectorStatusField"></span> </span>
                                </div>
                                <div class="list-group-item">
                                    <span>Reflector Count</span>
                                    <span class="reflectorCount pull-right"><span class="reflectorCountField"></span> times</span>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>


                    <div class="tubePositionPanel panel panel-yellow">
                        <div class="panel-heading">
                            <span><i class="fa fa-bell fa-fw"></i> Tube Position </span>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div>
                                <div class="list-group-item">
                                    <span>Position</span>
                                    <span class="updateField pull-right"><span class="positionField"></span> cm</span>
                                </div>
                                <div class="list-group-item">
                                    <span>Velocity</span>
                                    <span class="updateField pull-right"><span class="velocityField"></span> cm/s</span>
                                </div>
                                <div class="list-group-item">
                                    <span>Acceleration</span>
                                    <span class="updateField pull-right"><span class="accelerationField"></span> cm/s^2</span>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>

                    <div class="positionTelemetryPanel panel panel-yellow">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Position Telemetry
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div>
                                <div class="list-group-item">
                                     Lateral Offset
                                     <span class="pull-right">
                                        <span class="lateralOffsetField updateField"></span>cm
                                     </span>
                                </div>
                                <div class="list-group-item">
                                     Levitation
                                     <span class="pull-right">
                                        <span class="levitationField updateField"></span>cm
                                     </span>
                                </div>
                                <div class="list-group-item">
                                     Height_FR
                                     <span class="pull-right">
                                        <span class="heightFRField updateField"></span>cm
                                     </span>
                                </div>
                                <div class="list-group-item">
                                     Height_FL
                                     <span class="pull-right">
                                        <span class="heightFLField updateField"></span>cm
                                     </span>
                                </div>
                                <div class="list-group-item">
                                     Height_BR
                                     <span class="pull-right">
                                        <span class="heightBRField updateField"></span>cm
                                     </span>
                                </div>
                                <div class="list-group-item">
                                     Height_BL
                                     <span class="pull-right">
                                        <span class="heightBLField updateField"></span>cm
                                     </span>
                                </div>
                                <div class="list-group-item">
                                     Yaw
                                     <span class="pull-right">
                                        <span class="yawField updateField"></span>cm
                                     </span>
                                </div>
                                <div class="list-group-item">
                                    Roll
                                    <span class="pull-right">
                                        <span class="rollField updateField"></span>cm
                                    </span>
                                </div>
                            </div>
                            <!-- /.list-group -->
                        </div>
                        <!-- /.panel-body -->
                    </div>

                    <!-- /.panel .chat-panel -->
                </div>
                <div class="col-lg-6">
                    <div class="podView">
                        <!-- <img src="/images/podView.png"> -->
                        <h1>Interactive pod diagram.</h1>
                    </div>
                    <div class="switchContainer">
                        <div class="podSwitch">
                            <b>Deploy Wheels</b> <br><input type="checkbox" id="deployWheelsSwitch" name="deployWheels">
                        </div>
                        <div class="podSwitch">
                            <b>Eddy Brake</b> <br><input type="checkbox" id="eddyBrakeSwitch" name="eddyBrake">
                        </div>
                        <div class="podSwitch">
                            <b>Parking Brake</b> <br><input type="checkbox" id="parkingBrakeSwitch" name="parkingBrake">
                        </div>
                        <div class="podSwitch">
                            <b>Propulsion</b> <br><input type="checkbox" id="propulsionSwitch" name="propulsion">
                        </div>

                    </div>

                    <!-- /.panel .chat-panel -->
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-3">
                    <div class="batteryInfoPanel panel panel-yellow">
                            <div class="panel-heading">
                                <span><i class="fa fa-bell fa-fw"></i> Battery Information</span>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <span>Battery Level</span>
                                    <span class="updateField pull-right"><span class="batteryLevel"></span>% Charge</span>
                                </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success batteryLevelProgBar">
                                        <strong><span class="batteryLevelProgBarText"></span>% Charge</strong>
                                    </div>
                                </div>

                                <p>
                                    <span>Voltage Level</span>
                                    <span class="updateField pull-right"><span class="voltageField"></span> Volts</span>
                                </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info voltageFieldProgBar">
                                        <strong><span class="voltageFieldProgBarText"></span> Volts</strong>
                                    </div>
                                </div>

                                <p>
                                    <span>Current Level</span>
                                    <span class="updateField pull-right"><span class="currentField"></span> Amps</span>
                                </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning currentFieldProgBar">
                                        <strong><span class="currentFieldProgBarText"></span> Amps</strong>
                                    </div>
                                </div>

                                <p>
                                    <span>Battery Temperature</span>
                                    <span class="updateField pull-right"><span class="batteryTempField"></span> C.</span>
                                </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger batteryTempFieldProgBar">
                                        <strong><span class="batteryTempFieldProgBarText"></span> C.</strong>
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel-heading -->

                            <!-- /.panel-body -->
                        </div>
                    <div class="exteriorPanel panel panel-yellow">
                        <div class="panel-heading">
                            <span><i class="fa fa-bell fa-fw"></i> Exterior Conditions </span>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div>
                                <div class="list-group-item">
                                    Pressure <span class="updateField pull-right"><span class="extCondPressureField"></span> PSI</span>
                                </div>
                                <div class="list-group-item">
                                    Temperature <span class="updateField pull-right"><span class="extCondTempField"></span> F</span>
                                </div>
                            </div>
                            <!-- /.list-group -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <div class="interiorPanel panel panel-yellow">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Interior Conditions
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div>
                                <div class="list-group-item">
                                    Pressure <span class="updateField pull-right"><span class="intCondPressureField"></span> PSI</span>
                                </div>
                                <div class="list-group-item">
                                    Temperature <span class="updateField pull-right"><span class="intCondTempField"></span> F</span>
                                </div>
                            </div>
                            <!-- /.list-group -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel .chat-panel -->
                </div>
                <button class="btn btn-primary" id="viewGraphButton"> View Position vs Time Graph</button>

              </div>
            <!-- /.row -->
            <div class="row" id ="chartRow">
              <div id = "chart_div" class = "col-lg-12 col-md-12 col-xs-12">
              </div>
            </div>

            <div class="row">
              <div class="positionTelemetryPanel panel panel-green col-lg-12 col-md-10 col-xs-10 ">
                  <div class="panel-heading">
                    <h3>Pod Distance Position</h3>
                  </div>
                  <!-- /.panel-heading -->
                  <div class="panel-body">
                    <h3 style="display:inline">Distance Traveled:   <h3 id="distanceTraveled" style="display:inline">10</h3></h3></br></br>
                    <div class="progressBarMarkers">

                    </div>
                    <div class="progress" style="height:35px">
                      <div class="progress-bar progress-bar-striped bg-success" id="positionProgressBar" role="progressbar" style="width: 0%; height:35px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                  </div>
                </div>
            </div>

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/bootstrap-switch-master/dist/js/bootstrap-switch.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/vendor/dist/js/sb-admin-2.js"></script>

    <!-- Include Socket IO -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- Main Javascript -->
    <script src="/javascripts/main.js"></script>

    <!-- Include Google Charts API  -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- Charts Javascript File-->
    <script src="/javascripts/charting.js"></script>

</body>

</html>
